<div class="bottom-bar">
	<a class="router" routerLink="/chat" routerLinkActive="active">
		<mat-icon aria-hidden="false" aria-label="Example chatroom icon" class="chat-icon">chat</mat-icon>
		<div class="chat">Chatroom</div>
	</a>
	<a *ngIf="isAdmin" class="router" routerLink="/home/admin" routerLinkActive="active">
		<mat-icon aria-hidden="false" aria-label="Example report icon" class="report-icon">book</mat-icon>
		<div class="report">Report</div>
	</a>
	<a *ngIf="!isAdmin" class="router" routerLink="/home" routerLinkActive="active">
		<mat-icon aria-hidden="false" aria-label="Example report icon" class="report-icon">book</mat-icon>
		<div class="report">Report</div>
	</a>
	<a class="router" routerLink="/notice" routerLinkActive="active">
		<mat-icon aria-hidden="false" aria-label="Example setting icon" class="setting-icon">settings</mat-icon>
		<div class="setting">Settings</div>
	</a>
</div>