.bottom-bar{
	display:flex;
	// justify-content:space-around;
	position:sticky;
	bottom:0;
	// padding:10px 0;
	width:100vw;
	background-color:#555555;
	// align-items:flex-end;
	a.active{
		background-color:#f4dede;
		color:#ff0000;
		box-shadow: inset 0px 0px 5px #000000;
	}
	.router{
		text-align:center;
		color:#ffffff;
		width:33.3vw;
		padding:10px 0;
		text-decoration:none;
		.report,.chat,.setting{
			font-size:12px;
		}
	}
}