<div class="body">
	<div class="content">
		<div class="header">
			<a class="arrow-left-icon" routerLink="/home/admin/task/{{id}}">
				<mat-icon aria-hidden="false" aria-label="Example arrow left icon">keyboard_arrow_left</mat-icon>
			</a>
			<div>參加者編號</div>
			<div class="participant-id">{{taskInfo.user_id}}</div>
		</div>
		<div class="content-title">第1週 (屬性,心理健康和抑鬱)</div>
		<div class="table">
			<table class="table-container">
				<thead>
					<tr>
						<th scope="col">日期</th>
						<table>
							<tr class="header-row" >
								<td colspan="7">每日活動</td>
							</tr>
							<tr>
								<td scope="col" class="individual-header">安靜時間</td>
								<td scope="col" class="individual-header">閱讀聖經</td>
								<td scope="col" class="individual-header">默想/反思</td>
								<td scope="col" class="individual-header">禱告</td>
								<td scope="col" class="individual-header">唱詩歌</td>
								<td scope="col" class="individual-header">感恩</td>
								<td scope="col" class="individual-header">團契</td>
							</tr>
						</table>
						<td class="main-title">每週作業</td>
						<td class="main-title">總共時間</td>
						<td class="main-title-remark">備註/分享</td>
					</tr>
				</thead>
				<tbody *ngFor="let i of length">
					<tr>
						<th scope="row">
							<div class="row-header-title">
								<div>星期</div>
								<div class="underline"></div>
							</div>
							<div class="row-header-title">
								<div>(</div>
								<div class="day"></div>
								<div>)</div>
							</div>
						</th>
						<table>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</table>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<app-bottom-bar></app-bottom-bar>