.body{
	font-family:Arial,Helvetica,sans-serif;
	height:95vh;
	overflow-y:hidden;
	.content{
		margin:0 10px;
		height:85vh;
		overflow-y:hidden;
		.header{
			display:flex;
			justify-content:flex-start;
			align-items:center;
			// text-decoration:underline;
			padding-top:5px;
			padding-bottom:3px;
			background-color:#ffffff;
			.arrow-left-icon{
				margin-top:5px;
			}
			.participant-id{
				margin-left:8px;
				width:30px;
				text-align:center;
				border-bottom:solid 1px #000000;
			}
		}
		.content-title{
			text-align:center;
		}
		.table{
			font-size:14px;
			display:flex;
			justify-content:center;
			.table-container{
				margin-top:10px;
				border-collapse:collapse;
				thead{
					tr{
						.main-title{
							// height:50px;
							width:80px;
							text-align:center;
						}
						.main-title-remark{
							width:110px;
							text-align:center;
						}
						th{
							border:solid 1px #eeeeee;
							padding:0 20px;
						}
						td{
							border:solid 1px #eeeeee;
							// padding:3px 6px;
						}
						table{
							border-collapse:collapse;
							.header-row{
								text-align:center;
							}
							tr{
								.individual-header{
									width:60px;
									text-align:center;
								}
							}
						}
					}
				}
				tbody{
					tr{
						th{
							border:solid 1px #eeeeee;
							height:30px;
							.row-header-title{
								display:flex;
								justify-content:center;
								margin-bottom:2px;
								.underline{
									border-bottom:solid 1px #000000;
									width:20px;
									margin-left:3px;
								}
								.day{
									width:20px;
								}
							}
						}
						td{
							border:solid 1px #eeeeee;
							height:30px;
						}
						table{
							border-collapse:collapse;
							tr{
								td{
									width:60px;
									height:40px;
								}
							}
						}
					}
				}
			}
		}
	}
}