.body{
	font-family:Arial,Helvetica,sans-serif;
	height:100vh;
	overflow-y:scroll;
	.main{
		margin:0 10px;
		height:92vh;
		overflow-y:scroll;
		position:relative;
		.header{
			padding-top:16px;
			display:flex;
			justify-content:center;
			// text-decoration:underline;
			padding-bottom:10px;
			border-bottom:solid 1px #000000;
			position:sticky;
			top:0;
			background-color:#ffffff;
			.arrow-left-icon{
				position:absolute;
				top:14px;
				left:0;
			}
		}
		.bible-container{
			background-color:#f1eeee;
			margin-top:3px;
			padding:2px 0;
			border-radius:2px;
			.detail-header{
				background-color:#ffffff;
				padding:6px 3px;
				display:flex;
				margin:3px 6px;
				font-size:14px;
				color:#adadad;
				.date-header{
					width:38px;
					border-right:solid 2px #dddddd;
				}
				.sentence-header{
					width:100%;
					text-align:center;
				}
			}
			.bible-description{
				background-color:#ffffff;
				padding:6px 3px;
				margin:8px 6px;
				font-size:14px;
				display:flex;
				justify-content:flex-start;
				.header-number{
					width:38px;
					border-right:solid 2px #a0f0f0;
					// padding-right:1px;
				}
				.sentence{
					padding-left:5px;
					display:flex;
					flex-wrap:wrap;
					width:100%;
				}
			}
		}
	}
}