<div class="body">
	<div class="main">
		<div class="header">
			<a class="arrow-left-icon" routerLink="/home/admin"><mat-icon aria-hidden="false"
			aria-label="Example arrow left icon">keyboard_arrow_left</mat-icon></a>
			<div>{{user}}</div>
		</div>
		<div class="bible-container">
			<div class="detail-header">
				<div class="date-header">Date</div>
				<div class="sentence-header">Sentence</div>
			</div>
			<div class="bible-description" *ngFor="let bible of bibleDetails">
				<div class="header-number">{{bible.bible_id + 1}}</div>
				<div class="sentence">{{bible.content}}</div>
			</div>
		</div>
	</div>
</div>
<app-bottom-bar></app-bottom-bar>