.main{
	display:flex;
	justify-content:center;
	align-items:center;
	.main-container{
		display:block;
		.image-container{
			height:45vh;
			display:flex;
			align-items:center;
			.bible{
				// height:300px;
				width:250px;
			}
		}
		.username-input{
			width:242px;
			div{
				.username,.password{
					width:242px;
					height:26px;
					background-color:#224957;
					border-radius:5px;
					color:#ffffff;
					margin-bottom:10px;
				}
			}

		}
		.button-container{
			display:flex;
			justify-content:center;
			.login-button{
				background-color:#20df7f;
				border:solid 1px #bbbbbb;
				border-radius:4px;
				box-shadow:none;
				// width:50px;
				height:30px;
				color:#ffffff;
				cursor:pointer;
			}
		}
		.admin-button-container{
			display:flex;
			justify-content:center;
			.admin-login-button{
				background-color:#eacaca;
				border:solid 1px #bbbbbb;
				border-radius:4px;
				box-shadow:none;
				padding:1px 6px;
				height:30px;
				// color:#ffffff;
				margin-top:5vh;
				cursor:pointer;
			}
		}
		.sign-up-button-container{
			display:flex;
			justify-content:center;
			.sign-up-button{
				background-color:#ff5500;
				border:solid 1px #bbbbbb;
				color:#ffffff;
				border-radius:4px;
				box-shadow:none;
				padding:1px 6px;
				height:30px;
				// color:#ffffff;
				margin-top:5px;
				cursor:pointer;
			}
		}
	}
}