<div class="main">
	<div class="main-container">
		<div class="image-container">
			<img src="assets/images/bible.png" class="bible"/>
		</div>
		<div class="username-input">
			<div>
				<input #username class="username" placeholder="phone number"/>
				<input #password class="password" placeholder="password" type="password"/>
			</div>
		</div>
		<div class="button-container">
			<button (click)="login(username.value,password.value)" class="login-button">Participant login</button>
		</div>
		<div class="admin-button-container">
			<a routerLink="/admin/login"><button class="admin-login-button">Admin login</button></a>
		</div>
		<!-- <div class="sign-up-button-container">
			<a routerLink="/sign/up"><button class="sign-up-button">Sign up</button></a>
		</div> -->
	</div>
</div>