.body{
	font-family:Arial,Helvetica,sans-serif;
	height:95vh;
	overflow-y:scroll;
	.golden-sentence{
		background-color:#adadad;
		padding:10px;
		margin-bottom:16px;
		text-align:center;
		color:#ffcc00;
	}
	.body{
		margin:0 10px;
		.header{
			display:flex;
			justify-content:space-between;
			align-items:center;
			// text-decoration:underline;
			padding-bottom:3px;
			border-bottom:solid 1px #000000;
			.create-button-container{
				display:flex;
				.create-user-button{
					margin-right:5px;
				}
				.create-user-button,.create-button{
					border:solid 1px #adadad;
					padding:6px;
					border-radius:5px;
					cursor:pointer;
					color:#000000;
					text-decoration:none;
				}
				.create-user-button:hover{
					background-color:#4f4fe9;
				}
				.create-button:hover{
					background-color:#cccccc;
					color:#555555;
				}
			}
		}
		.chatroom-container{
			font-size:12px;
			.chatroom-detail{
				padding-top:8px;
				a{
					text-decoration:none;
					color:#000000;
				}
				.chatroom{
					display:flex;
					justify-content:space-between;
					align-items:center;
					background-color:#f4dede;
					padding:6px 10px;
					border-radius:2px;
					.chatroom-description{
						display:flex;
						align-items:center;
						.room-icon{
							height:35px;
							width:35px;
							border-radius:70px;
							border:solid 1px #adadad;
							margin-right:10px;
							object-fit:cover;
						}
						div{
							.room-name{
								font-size:18px;
								font-weight: 600;
								color:#555555;
							}
						}
					}
					// margin:9px;
					.arrow{
						color:#555555;
						cursor: pointer;
						.arrow-right-icon{
							font-size:30px;
						}
						.arrow-right-icon:hover{
							opacity:0.6;
						}
					}
				}
			}
		}
	}
}