<div class="body">
	<div class="golden-sentence">{{goldenSentence.content}}</div>
	<div class="body">
		<div class="header">
			<div>{{user.username}}</div>
			<div class="create-button-container">
				<a *ngIf="user.is_admin" class="create-user-button" routerLink="/sign/up">create users</a>
				<a class="create-button" routerLink="/chat/create">create room</a>
			</div>
		</div>
		<div class="chatroom-container">
			<!-- {{questions[0] ? questions[0].question : ""}} -->
			<div class="chatroom-detail" *ngFor="let chatroom of chatroomList">
				<a class="chatroom" routerLink="/chat/{{chatroom.chatroom_id}}">
					<div class=chatroom-description>
						<img class="room-icon" [src]="imageToShow[chatroom.chatroom_id]"
						*ngIf="!isImageLoading[chatroom.chatroom_id]"/>
						<div>
							<div>Room {{chatroom.chatroom_id}}</div>
							<div class="room-name">{{chatroom.room_name}}</div>
						</div>
					</div>
					<div class="arrow">
						<mat-icon aria-hidden="false" aria-label="Example arrow right icon" class="arrow-right-icon">
						keyboard_arrow_right</mat-icon>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<app-bottom-bar></app-bottom-bar>