<div class="body">
	<div class="golden-sentence">{{goldenSentence.content}}</div>
	<div class="body">
		<div class="header">
			<a class="arrow-left-icon" routerLink="/home/admin"><mat-icon aria-hidden="false" aria-label="Example arrow left icon">
			keyboard_arrow_left</mat-icon></a>
			<div class="room-name">{{taskInfo.username}}</div>
			<a class="print-icon" routerLink="/home/admin/print/{{id}}"><mat-icon aria-hidden="false" aria-label="Example print icon">
			print</mat-icon></a>
		</div>
		<div class="question-answer-container">
			<div class="answer-detail" *ngFor="let answer of answers">
				<div class="finish-date">
					<div class="full-date">{{taskInfo.finish_date.substring(0,10)}}</div>
					<div class="share-complete-container">
						<div>completed</div>
						<!-- <mat-icon aria-hidden="false" aria-label="Example share icon" class="share-icon">
						share</mat-icon> -->
					</div>
				</div>
				<div class="question-time">
					<div class="question-time-header">
						<div class="question-number">question #{{answer.id - answers[0].id + 1}}</div>
						<div>finish time</div>
					</div>
					<div class="question-time-description">
						<div>{{answer.question}}</div>
						<div class="minute-container">
							<div class="minute">{{answer.content}}</div>
							<div>mins</div>
						</div>
					</div>
					<mat-icon *ngIf="answer.id === answers[answers.length - 1].id" aria-hidden="false"
					aria-label="Example arrow down icon" class="down-arrow"
					(click)="makeVisible(answer.id)">keyboard_arrow_down</mat-icon>
				</div>
				<div *ngIf="showAnswer[answer.id]" class="answer-remarks-detail">
					<div class="mark-done-container">
						<div>
							<div class="remarks">Comments</div>
							<div class="answer-remarks">{{answer.remarks}}</div>
						</div>
						<!-- <button (click)="markDone(answer.id)" *ngIf="!done[answer.id] && !isMarked" class="mark-done-button">
						mark done</button>
						<button (click)="markNotYetDone(answer.id)" *ngIf="done[answer.id] && !isMarked" class="done-button">
						done</button> -->
					</div>
					<div class="up-arrow-container">
						<mat-icon aria-hidden="false" aria-label="Example arrow up icon" class="up-arrow"
						(click)="makeHidden(answer.id)">keyboard_arrow_up</mat-icon>
					</div>
				</div>
			</div>
		</div>
		<div class="finish-button-container" *ngIf="!isMarked">
			<div class="finish-button" (click)="finishMarking()">Finish marking</div>
		</div>
	</div>
</div>
<app-bottom-bar></app-bottom-bar>