.body{
	font-family:Arial,Helvetica,sans-serif;
	height:100vh;
	overflow-y:scroll;
	.golden-sentence{
		background-color:#adadad;
		padding:10px;
		margin-bottom:16px;
		text-align:center;
		color:#ffcc00;
	}
	.body{
		margin:0 10px;
		position:relative;
		overflow-y:scroll;
		height:85vh;
		.header{
			display:flex;
			justify-content:center;
			align-items:center;
			// text-decoration:underline;
			padding-bottom:3px;
			border-bottom:solid 1px #000000;
			position:sticky;
			top:0;
			justify-content:space-between;
			align-items:center;
			background-color:#ffffff;
			z-index:1;
			.print-icon{
				color:#555555;
			}
		}
		.question-answer-container{
			margin-top:8px;
			font-size:12px;
			padding-top:3px;
			padding-left:9px;
			padding-right:9px;
			padding-bottom:11px;
			background-color:#f1eeee;
			border-radius:2px;
			// margin-bottom:5px;
			.answer-detail{
				padding:8px 0 6px 0;
				.finish-date{
					display:flex;
					justify-content:space-between;
					background-color:#c4c4c4;
					padding:6px 10px 6px 10px;
					align-items:center;
					.share-complete-container{
						display:flex;
						align-items:center;
						.share-icon{
							display:flex;
							justify-content:center;
							align-items:center;
							font-size:18px;
							margin-left:2px;
							cursor:pointer;
						}
						.share-icon:hover{
							color:#ffffff;
						}
					}
				}
				.question-time{
					background-color:#f4dede;
					padding:6px 10px 6px 10px;
					text-align:center;
					.question-time-header{
						display:flex;
						justify-content:space-between;
						padding-bottom:4px;
						border-bottom:solid 1px #adadad;
					}
					.question-time-description{
						display:flex;
						justify-content:space-between;
						padding-top:4px;
						// padding-bottom:12px;
						.minute-container{
							display:flex;
							.minute{
								margin-right:3px;
							}
						}
					}
					.down-arrow{
						cursor:pointer;
						// margin-bottom:-6px;
					}
					.down-arrow:hover{
						color:#eeeeee;
					}
				}
				.answer-remarks-detail{
					height:80px;
					background-color:#ffffff;
					overflow-y:hidden;
					position:relative;
					.mark-done-container{
						display:flex;
						justify-content:space-between;
						align-items:flex-start;
						min-height:50px;
						div{
							.remarks{
								font-size:16px;
								color:#adadad;
								font-weight:500;
								padding:6px 10px 0 10px;
							}
							.answer-remarks{
								padding:6px 10px;
							}
						}
						.mark-done-button{
							border:none;
							margin-bottom:5px;
							margin-top:6px;
							padding:4px 8px;
							border-radius:2px;
							background-color:#e25353;
							color:#ffffff;
							cursor:pointer;
							margin-right:10px;
							font-size:12px;
						}
						.mark-done-button:hover{
							background-color:#eacaca;
						}
						.done-button{
							border:none;
							margin-bottom:5px;
							margin-top:6px;
							padding:4px 8px;
							border-radius:2px;
							background-color:#eacaca;
							color:#ff5500;
							cursor:pointer;
							margin-right:10px;
							font-size:12px;
						}
						// .done-button:hover{
						// 	background-color:#e25353;
						// 	color:#eeeeee;
						// }
					}
					.up-arrow-container{
						display:flex;
						position:sticky;
						bottom:0;
						width:100%;
						justify-content:center;
						.up-arrow{
							cursor:pointer;
						}
					}
				}
			}
		}
		.finish-button-container{
			text-align:center;
			.finish-button{
				margin-top:10px;
				padding:8px;
				background-color:#f1eded;
				color:#444444;
				border-radius:3px;
				border:solid 1px #adadad;
				cursor:pointer;
				font-weight:600;
			}
			.finish-button:hover{
				background-color:#adadad;
				color:#ffffff;
			}
		}
	}
}