.body{
	font-family:Arial,Helvetica,sans-serif;
	height:100vh;
	overflow-y:scroll;
	.golden-sentence{
		background-color:#adadad;
		padding:10px;
		margin-bottom:16px;
		text-align:center;
		color:#ffcc00;
	}
	.body{
		margin:0 10px;
		.header{
			display:flex;
			justify-content:center;
			align-items:center;
			// text-decoration:underline;
			padding-bottom:3px;
			border-bottom:solid 1px #000000;
			position:relative;
			.arrow-left-icon{
				position:absolute;
				left:0;
			}
		}
		.chatroom-create-container{
			margin-top:8px;
			display:flex;
			justify-content:center;
			div{
				text-align:center;
				.chatroom-description-container{
					height:73vh;
					.create-room-title-container{
						margin-bottom:10px;
						.create-room-title{
							color:#555555;
							font-size:20px;
							font-weight:500;
							border-bottom:solid 1px #adadad;
						}
					}
					.chatroom-name{
						font-size:16px;
						background-color:#f1eeee;
						width:180px;
						padding:3px;
						border:none;
						border-radius:3px;
						padding:10px;
						margin:8px 0;
					}
					.chatroom-icon{
						height:160px;
						width:160px;
						border-radius:320px;
						background-color:#f1eeee;
						margin:10px 0;
						object-fit:cover;
					}
					.chatroom-icon-container{
						display:flex;
						justify-content:center;
						.chatroom-icon{
							height:160px;
							width:160px;
							border-radius:320px;
							background-color:#f1eeee;
							margin:10px 0 14px 0;
							object-fit:cover;
						}
					}
					.hidden-chatroom-icon-input{
						display:none;
					}
					.chatroom-icon-input-container{
						display:flex;
						justify-content:center;
						margin-bottom:20px;
						.chatroom-icon-input{
							font-size:12px;
							background-color:#555555;
							color:#eeeeee;
							width:50px;
							padding:4px 0;
							border-radius:2px;
							cursor:pointer;
						}
					}
					.add-title{
						color:#adadad;
					}
					.chat-input-container{
						display:flex;
						justify-content:center;
						div{
							.chat-username-input-container{
								width:190px;
								height:38px;
								border-radius:3px;
								background-color:#f1eeee;
								display:flex;
								align-items:center;
								justify-content:center;
								padding:0 5px;
								margin-top:10px;
								.search-icon{
									color:#adadad;
									// padding-left:5px;
								}
								.chat-username{
									font-size:16px;
									border:none;
									background-color:#f1eeee;
									height:38px;
									outline:none;
									padding:0 0 0 8px;
									width:150px;
								}
							}
							.searched-container{
								.username{
									background-color:#333333;
									color:#ffffff;
									border:solid 1px #adadad;
									padding:8px 0;
									border-bottom-right-radius:3px;
									border-bottom-left-radius:3px;
									cursor:pointer;
									display:flex;
									align-items:center;
									.user-icon{
										height:28px;
										width:28px;
										border-radius:56px;
										object-fit:cover;
										background-color:#cccccc;
										margin:0 10px;
									}
								}
								.username:hover{
									background-color:#adadad;
								}
							}
						}
					}
					.choose-username{
						display:flex;
						flex-wrap:wrap;
						margin-top:10px;
						font-size:12px;
						div{
							.user{
								margin-right:8px;
								background-color:#cccccc;
								padding:2px 0 2px 6px;
								display:flex;
								align-items:center;
								border-radius:30px;
								.new-user-icon{
									height:28px;
									width:28px;
									border-radius:56px;
									object-fit:cover;
									background-color:#eeeeee;
									margin-right:5px;
								}
								.close-icon{
									font-size:12px;
									display:flex;
									align-items:center;
									justify-content:center;
									cursor:pointer;
									// margin-left:5px;
								}
							}
						}
					}
				}
				.create-room-button-container{
					margin-top:20px;
					.create-button{
						margin-right:20px;
						border:none;
						font-size:16px;
						padding:6px 12px;
						border-radius:3px;
						color:#555555;
						cursor:pointer;
					}
					.cancel-button{
						border:none;
						font-size:16px;
						padding:6px 12px;
						border-radius:3px;
						color:#555555;
						cursor:pointer;
					}
					.create-button:hover,.cancel-button:hover{
						background-color:#555555;
						color:#adadad;
					}
				}
			}
		}
	}
}