<div class="body">
	<div class="golden-sentence">{{goldenSentence.content}}</div>
	<div class="body">
		<div class="header">
			<a class="arrow-left-icon" routerLink="/chat"><mat-icon aria-hidden="false" aria-label="Example arrow left icon">
			keyboard_arrow_left</mat-icon></a>
			<div class="room-name">{{user}}</div>
			<!-- <div></div> -->
		</div>
		<div class="chatroom-create-container">
			<div>
				<div class="chatroom-description-container">
					<div class="create-room-title-container"><span class="create-room-title">Create room</span></div>
					<div>Room name</div>
					<input #chatroomName class="chatroom-name"/>
					<div>Room icon</div>
					<img class="chatroom-icon" *ngIf="imageSource" src="{{imageSource}}"/>
					<div *ngIf="!imageSource" class="chatroom-icon-container">
						<div class="chatroom-icon"></div>
					</div>
					<input #chatroomImageFile type="file" class="hidden-chatroom-icon-input"
					(change)="readURL($event)"/>
					<div class="chatroom-icon-input-container">
						<div class="chatroom-icon-input" (click)="chatroomImageFile.click()">Upload</div>
					</div>
					<div class="add-title">Add person</div>
					<div class="chat-input-container">
						<div>
							<div class="chat-username-input-container">
								<mat-icon aria-hidden="false" aria-label="Example search icon" class="search-icon">
								search</mat-icon>
								<input [(ngModel)]="searchKeyword" class="chat-username"
								(input)="search(searchKeyword,choseUsernames)"/>
							</div>
							<div *ngFor="let user of usernames" class="searched-container">
								<div class="username" (click)="addUser(user.id,user.username,user.icon)">
									<img [src]="imageToShow[user.id]" class="user-icon"/>
									<div>{{user.username}}</div>
								</div>
							</div>
						</div>
					</div>
					<div class="choose-username">
						<div *ngFor="let user of choseUsernames">
							<div class="user">
								<img [src]="imageToShow[user.id]" class="new-user-icon"/>
								<div>{{user.username}}</div>
								<mat-icon aria-hidden="false" aria-label="Example close icon" class="close-icon"
								(click)="deleteUser(user.username)">close</mat-icon>
							</div>
						</div>
					</div>
				</div>
				<div class="create-room-button-container">
					<button class="create-button" (click)="createRoom(chatroomName.value,newImageIcon,
					choseUsernames)">Create</button>
					<a routerLink="/chat"><button class="cancel-button">Cancel</button></a>
				</div>
			</div>
		</div>
	</div>
</div>
<app-bottom-bar></app-bottom-bar>