.body{
	font-family:Arial,Helvetica,sans-serif;
	height:100vh;
	overflow-y:scroll;
	.golden-sentence{
		background-color:#adadad;
		padding:10px;
		margin-bottom:16px;
		text-align:center;
		color:#ffcc00;
		position:relative;
		.detail-button{
			border:none;
			// margin-bottom:5px;
			padding:4px 8px;
			border-radius:2px;
			background-color:#eacaca;
			color:#ff5500;
			// cursor:pointer;
			position:absolute;
			right:10px;
			top:8px;
			font-size:13px;
			text-decoration:none;
		}
		.detail-button:hover{
			background-color:#ffcc00;
			color:#ffffff;
		}
	}
	.body{
		margin:0 10px;
		height:85vh;
		overflow-y:scroll;
		.header{
			display:flex;
			justify-content:flex-start;
			// text-decoration:underline;
			padding-bottom:3px;
			border-bottom:solid 1px #000000;
			position:sticky;
			top:0;
			background-color:#ffffff;
		}
		.calendar-container{
			margin-top:8px;
			font-size:12px;
			padding-top:3px;
			padding-bottom:11px;
			// background-color:#f1eeee;
			border-radius:2px;
			display:flex;
			align-items:center;
			justify-content:space-between;
			div{
				.calendar{
					width:120px;
					margin-right:15px;
				}
			}
			.date-button-container{
				display:block;
				width:60px;
				text-align:center;
				margin-bottom:17px;
				// flex-wrap:wrap;
				.search-date-button{
					border:none;
					margin-bottom:5px;
					padding:4px 8px;
					border-radius:2px;
					background-color:#eacaca;
					cursor:pointer;
				}
				.search-date-button:hover,.reset-date-button:hover{
					background-color:#cf3838;
					color:#eeeeee;
				}
				.reset-date-button{
					border:none;
					// margin-bottom:5px;
					padding:4px 8px;
					border-radius:2px;
					background-color:#eacaca;
					cursor:pointer;
					width:100%;
				}
			}
		}
		.task-header{
			padding:6px 9px;
			background-color:#cccccc;
			border-radius:3px;
			cursor:pointer;
		}
		.marked-task-header{
			padding:6px 9px;
			background-color:#a0f0f0;
			color:#adadad;
			border-radius:3px;
			cursor:pointer;
		}
		.task-container{
			height:60vh;
			background-color:#f1eeee;
			margin-top:16px;
			border-radius:2px;
			padding:6px 10px;
			font-size:12px;
			.task-detail-container{
				background-color:#ffffff;
				padding:6px 0;
				display:flex;
				justify-content:center;
				align-items:center;
				margin-bottom:10px;
				border-radius:4px;
				.name{
					text-align:center;
					// padding-right:40px;
					border-right:solid 1px #555555;
					width:50%;
					.name-header{
						color:#adadad;
					}
				}
				.date{
					// padding-left:40px;
					text-align:center;
					width:50%;
					.date-header{
						color:#adadad;
					}
				}
				a{
					text-decoration:none;
					.arrow-right-icon{
						display:flex;
						align-items:center;
					}
				}
			}
			.marked-task-detail-container{
				background-color:#ff5500;
				padding:6px 0;
				display:flex;
				justify-content:center;
				align-items:center;
				margin-bottom:10px;
				border-radius:4px;
				.name{
					text-align:center;
					// padding-right:40px;
					border-right:solid 1px #ffffff;
					width:50%;
					.name-header{
						color:#adadad;
					}
					.name-content{
						color:#ffffff;
					}
				}
				.date{
					// padding-left:40px;
					text-align:center;
					width:50%;
					.date-header{
						color:#adadad;
					}
					.date-content{
						color:#ffffff;
					}
				}
				a{
					text-decoration:none;
					.arrow-right-icon{
						display:flex;
						align-items:center;
						color:#a0aff0;
						font-weight:700;
					}
				}
				a:active{
					color:#ffcc00;
				}
			}
		}
		.button-container{
			display:flex;
			justify-content:center;
			.logout-button{
				margin-top:10px;
				padding:8px;
				background-color:#f1eded;
				color:#ff0000;
				border-radius:3px;
				cursor:pointer;
			}
			.logout-button:hover{
				background-color:#ff0000;
				color:#ffffff;
				// border:solid 1px #eacaca;
			}
		}
	}
}