<div class="body">
	<div class="golden-sentence">
		<div>{{goldenSentence.content}}</div>
		<a class="detail-button" routerLink="/home/admin/bible">detail</a>
	</div>
	<div class="body">
		<div class="header">
			<div>{{user}}</div>
		</div>
		<div class="calendar-container">
			<div *ngIf="unmarked">
				<mat-form-field appearance="fill" class="calendar">
					<mat-label>From</mat-label>
					<input matInput [matDatepicker]="picker" [(ngModel)]="fromCalendarDate">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
				<mat-form-field appearance="fill" class="calendar">
					<mat-label>To</mat-label>
					<input matInput [matDatepicker]="toPicker" [(ngModel)]="toCalendarDate">
					<mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
					<mat-datepicker #toPicker></mat-datepicker>
				</mat-form-field>
			</div>
			<div class="date-button-container" *ngIf="unmarked">
				<button class="search-date-button" (click)="searchTasks(fromCalendarDate,toCalendarDate)">Search</button>
				<button class="reset-date-button" (click)="resetSearch()">Reset</button>
			</div>
			<div *ngIf="!unmarked">
				<mat-form-field appearance="fill" class="calendar">
					<mat-label>From</mat-label>
					<input matInput [matDatepicker]="markedTaskPicker" [(ngModel)]="markedTaskFromCalendarDate">
					<mat-datepicker-toggle matSuffix [for]="markedTaskPicker"></mat-datepicker-toggle>
					<mat-datepicker #markedTaskPicker></mat-datepicker>
				</mat-form-field>
				<mat-form-field appearance="fill" class="calendar">
					<mat-label>To</mat-label>
					<input matInput [matDatepicker]="markedTaskToPicker" [(ngModel)]="markedTaskToCalendarDate">
					<mat-datepicker-toggle matSuffix [for]="markedTaskToPicker"></mat-datepicker-toggle>
					<mat-datepicker #markedTaskToPicker></mat-datepicker>
				</mat-form-field>
			</div>
			<div class="date-button-container" *ngIf="!unmarked">
				<button class="search-date-button" (click)="searchMarkedTasks(markedTaskFromCalendarDate,
				markedTaskToCalendarDate)">Search</button>
				<button class="reset-date-button" (click)="resetMarkedTasksSearch()">Reset</button>
			</div>
		</div>
		<span *ngIf="unmarked" class="task-header" (click)="toggleUnmarked()">Unmarked tasks</span>
		<span *ngIf="!unmarked" class="marked-task-header" (click)="toggleUnmarked()">Marked tasks</span>
		<div class="task-container" *ngIf="unmarked">
			<div *ngFor="let task of unmarkedTasks" class="task-detail-container">
				<div class="name">
					<div class="name-header">name</div>
					<div>{{task.username}}</div>
				</div>
				<div class="date">
					<div class="date-header">completed date</div>
					<div>{{task.finish_date.toString().substring(0,10)}}</div>
				</div>
				<a routerLink="/home/admin/task/{{task.id}}" class="right-arrow">
					<mat-icon aria-hidden="false" aria-label="Example arrow right icon" class="arrow-right-icon">
					keyboard_arrow_right</mat-icon>
				</a>
			</div>
		</div>
		<div class="task-container" *ngIf="!unmarked">
			<div *ngFor="let task of markedTasks" class="marked-task-detail-container">
				<div class="name">
					<div class="name-header">name</div>
					<div class="name-content">{{task.username}}</div>
				</div>
				<div class="date">
					<div class="date-header">completed date</div>
					<div class="date-content">{{task.finish_date.toString().substring(0,10)}}</div>
				</div>
				<a routerLink="/home/admin/task/{{task.id}}" class="right-arrow">
					<mat-icon aria-hidden="false" aria-label="Example arrow right icon" class="arrow-right-icon">
					keyboard_arrow_right</mat-icon>
				</a>
			</div></div>
		<div class="button-container">
			<div class="logout-button" (click)="logout()">Logout</div>
		</div>
	</div>
</div>
<app-bottom-bar></app-bottom-bar>