<div class="body">
	<div class="golden-sentence">{{goldenSentence.content}}</div>
	<div class="body">
		<div class="header">
			<a class="arrow-left-icon" routerLink="/chat"><mat-icon aria-hidden="false" aria-label="Example arrow left icon">
			keyboard_arrow_left</mat-icon></a>
			<div class="room-name">{{room.room_name}}</div>
			<a class="add-user" routerLink="/chat/add/user/{{id}}"><div>Add user</div></a>
		</div>
		<div class="user-container">
			<div class="user-header">Users</div>
			<div class="user-detail-container">
				<div class="chatroom-user" *ngFor="let chatUser of chatroomUsers">
					<div>
						<img [src]="userImageToShow[chatUser.id]" class="chat-user-icon"/>
						<div *ngIf="chatUser.username !== user.username" class="chat-username">{{chatUser.username}}</div>
						<div *ngIf="chatUser.username === user.username" class="chat-myself">You</div>
						<div *ngIf="chatUser.is_admin" class="chat-user-admin">管理員</div>
					</div>
				</div>
			</div>
		</div>
		<div class="chatroom-container" #scrollContainer>
			<div class="chatroom-message" *ngFor="let message of chatMessages">
				<div *ngIf="message.send_user_id === user.id" class="send-message-detail">
					<div [ngClass]="message.type === 'sound' ? 'send-voice-message' : 'send-message'">
					<!-- <div class="send-name">{{message.username}}</div> -->
						<div>
							<div *ngIf="message.type === 'text'" class="message-content">{{message.content}}</div>
							<img *ngIf="message.type === 'image'" class="image-message-content"
							[src]="imageMessageToShow[message.id]"/>
							<audio *ngIf="message.type === 'sound'" controls="" class="sound-message-content"
							[src]="soundMessageToShow[message.id]" type="audio/mp3">
							</audio>
							<div class="time">{{message.created_at|date:"dd MMM HH:mm"}}</div>
						</div>
					</div>
				</div>
				<div *ngIf="message.send_user_id !== user.id" class="receive-message-detail">
					<img [src]="imageToShow[message.id]" class="profile-picture"/>
					<div [ngClass]="message.type === 'sound' ? 'receive-voice-message' : 'receive-message'">
						<div class="send-username">{{message.username}}</div>
						<div *ngIf="message.type === 'text'" class="message-content">{{message.content}}</div>
						<img *ngIf="message.type === 'image'" class="image-message-content"
						[src]="imageMessageToShow[message.id]"/>
						<audio *ngIf="message.type === 'sound'" controls="" class="sound-message-content"
						[src]="soundMessageToShow[message.id]" type="audio/mp3">
						</audio>
						<div class="time">{{message.created_at|date:"dd MMM HH:mm"}}</div>
					</div>
				</div>
			</div>
			<div *ngIf="imageSource && scrollContainer.scrollTop > 0" class="send-image-container">
				<div class="flex-container">
					<div>
						<div class="close-icon-container" (click)="closePhoto()">
							<mat-icon aria-hidden="false" aria-label="Example close icon" class="close-icon">
							close</mat-icon>
						</div>
						<div (click)="sendPhoto(newImageIcon)" class="send-photo-button">send photo</div>
						<img [src]="imageSource" class="send-image"/>
					</div>
				</div>
			</div>
			<div *ngIf="imageSource && scrollContainer.scrollTop === 0" class="absolute-send-image-container">
				<div class="flex-container">
					<div>
						<div class="close-icon-container" (click)="closePhoto()">
							<mat-icon aria-hidden="false" aria-label="Example close icon" class="close-icon">
							close</mat-icon>
						</div>
						<div (click)="sendPhoto(newImageIcon)" class="send-photo-button">send photo</div>
						<img [src]="imageSource" class="send-image"/>
					</div>
				</div>
			</div>
		</div>
		<div class="input-container" *ngIf="id === 1 && user.is_admin || id !== 1">
			<div class="text-input-container">
				<input placeholder="new message" class="text-input" [(ngModel)]="newMessage" value="{{newMessage}}"/>
				<mat-icon *ngIf="!isRecording" aria-hidden="false" aria-label="Example mic none icon" class="mic-none-icon"
				(click)="startRecording()">mic_none</mat-icon>
				<mat-icon *ngIf="isRecording && !isRecordingInterval" aria-hidden="false" aria-label="Example mic none icon"
				class="recording-white-mic-none-icon" (click)="stopRecording()">mic_none</mat-icon>
				<mat-icon *ngIf="isRecording && isRecordingInterval" aria-hidden="false" aria-label="Example mic none icon"
				class="recording-grey-mic-none-icon" (click)="stopRecording()">mic_none</mat-icon>
			</div>
			<div class="photo-button-container">
				<input #chatroomImageFile type="file" class="hidden-file-input"
				(change)="readURL($event)"/>
				<mat-icon aria-hidden="false" aria-label="Example photo library icon" class="photo-library-icon"
				(click)="chatroomImageFile.click()">photo_library</mat-icon>
				<div class="submit-button" (click)="sendMessage(newMessage)">submit</div>
			</div>
			<!-- <div>{{newMessage}}</div> -->
		</div>
	</div>
</div>
<app-bottom-bar></app-bottom-bar>