.body{
	font-family:Arial,Helvetica,sans-serif;
	height:100vh;
	overflow-y:scroll;
	.golden-sentence{
		background-color:#adadad;
		padding:10px;
		margin-bottom:16px;
		text-align:center;
		color:#ffcc00;
	}
	.body{
		margin:0 10px;
		.header{
			display:flex;
			justify-content:space-between;
			align-items:center;
			padding:0 6px 3px 0;
			border-bottom:solid 1px #000000;
			position:relative;
			.add-user{
				text-decoration:none;
				font-size:12px;
				color:#cccccc;
				// cursor:pointer;
				text-decoration:none;
				font-weight:600;
			}
			.add-user:hover{
				color:#ff5500;
			}
		}
		.user-container{
			background-color:#f1eeee;
			margin-top:8px;
			padding:6px 0;
			border-radius:3px;
			.user-header{
				margin-left:10px;
				margin-bottom:5px;
				font-size:14px;
			}
			.user-detail-container{
				display:flex;
				align-items:flex-start;
				overflow-x:scroll;
				.chatroom-user{
					width:55px;
					div{
						// margin:0 5px;
						text-align:center;
						font-size:10px;
						.chat-user-icon{
							height:35px;
							width: 35px;
							border-radius:70px;
							background-color:#adadad;
							object-fit:cover;
						}
						.chat-username{
							// width:62px;
							display:flex;
							flex-wrap:wrap;
							justify-content:center;
						}
						.chat-myself{
							color:#888888;
						}
						.chat-user-admin{
							color:#cccccc;
							font-size:8px;
							margin-top:2px;
						}
					}
				}
			}

		}
		.chatroom-container{
			font-size:12px;
			margin-top:8px;
			background-color:#f1eeee;
			border-radius:4px;
			// display:inline;
			height:61vh;
			overflow-y:auto;
			margin-bottom:10px;
			position:relative;
			padding-bottom:8px;
			.chatroom-message{
				.send-message-detail{
					display:flex;
					justify-content:flex-end;
					.send-message{
						margin-top:8px;
						padding:6px 10px;
						background-color:#ffffff;
						margin-right:6px;
						max-width:60%;
						div{
							.message-content{
								margin-bottom:5px;
								// max-width:50%;
							}
							.image-message-content{
								margin-bottom:5px;
								width:150px;
								height:150px;
								object-fit:contain;
							}
							.time{
								font-size:8px;
								color:#adadad;
								text-align:end;
							}
						}
					}
					.send-voice-message{
						margin-top:8px;
						padding:6px 90px 6px 10px;
						// background-color:#ffffff;
						// margin-right:6px;
						display:flex;
						justify-content:flex-start;
						max-width:60%;
						.sound-message-content{
							height:30px;
						}
						.time{
							font-size:8px;
							color:#adadad;
							text-align:end;
							margin-right:15px;
						}
					}
				}
				.receive-message-detail{
					display:flex;
					align-items:flex-end;
					padding:6px;
					.profile-picture{
						height:30px;
						width:30px;
						border-radius:60px;
						object-fit:cover;
						background-color:#cccccc;
					}
					.receive-message{
						padding:6px 10px;
						background-color:#ffffff;
						margin-left:6px;
						max-width:50%;
						.send-username{
							margin-bottom:5px;
							font-size:10px;
							color:#adadad;
						}
						.message-content{
							margin-bottom:5px;
							// max-width:50%;
						}
						.image-message-content{
							margin-bottom:5px;
							width:150px;
							height:150px;
							object-fit:contain;
						}
						.time{
							font-size:8px;
							color:#adadad;
						}
					}
					.receive-voice-message{
						padding:0 10px;
						margin-left:6px;
						max-width:50%;
						.send-username{
							margin-bottom:5px;
							font-size:10px;
							color:#adadad;
						}
						.sound-message-content{
							height:30px;
							margin-left:-18px;
							// font-size:12px;
						}
						.time{
							font-size:8px;
							color:#adadad;
						}
					}
				}
			}
			.send-image-container{
				position:sticky;
				bottom:-8px;
				// top:300px;
				left:0;
				// border-radius:8px;
				.flex-container{
					display:flex;
					div{
						position:relative;
						.close-icon-container{
							position:absolute;
							background-color:#ff5500;
							display:flex;
							justify-content:center;
							align-items:center;
							height:20px;
							width:20px;
							border-radius:40px;
							top:-8px;
							right:-8px;
							z-index:1;
							cursor:pointer;
							.close-icon{
								font-weight:900;
								font-size:16px;
								display:flex;
								justify-content:center;
								align-items:center;

							}
						}
						.close-icon-container:hover{
							opacity:0.8;
						}
						.send-photo-button{
							background-color:#555555;
							cursor:pointer;
							padding:10px 0;
							color:#ffcc00;
							font-size:14px;
							text-align:center;
							border-top-left-radius:8px;
							border-top-right-radius:8px;
						}
						.send-photo-button:hover{
							opacity:0.8;
						}
						.send-image{
							height:100px;
							width:100px;
							object-fit:cover;
							border:solid 2px #333333;
							background-color:#ffffff;
							border-bottom-left-radius:8px;
							border-bottom-right-radius:8px;
						}
					}
				}
			}
			.absolute-send-image-container{
				position:absolute;
				bottom:3px;
				// top:300px;
				left:0;
				// border-radius:8px;
				.flex-container{
					display:flex;
					div{
						position:relative;
						.close-icon-container{
							position:absolute;
							background-color:#ff5500;
							display:flex;
							justify-content:center;
							align-items:center;
							height:20px;
							width:20px;
							border-radius:40px;
							top:-8px;
							right:-8px;
							z-index:1;
							cursor:pointer;
							.close-icon{
								font-weight:900;
								font-size:16px;
								display:flex;
								justify-content:center;
								align-items:center;

							}
						}
						.close-icon-container:hover{
							opacity:0.8;
						}
						.send-photo-button{
							background-color:#555555;
							cursor:pointer;
							padding:10px 0;
							color:#ffcc00;
							font-size:14px;
							text-align:center;
							border-top-left-radius:8px;
							border-top-right-radius:8px;
						}
						.send-photo-button:hover{
							opacity:0.8;
						}
						.send-image{
							height:100px;
							width:100px;
							object-fit:cover;
							border:solid 2px #333333;
							background-color:#ffffff;
							border-bottom-left-radius:8px;
							border-bottom-right-radius:8px;
						}
					}
				}
			}
		}
		.input-container{
			display:flex;
			align-items:center;
			justify-content:space-between;
			padding-right:5px;
			.text-input-container{
				border-radius:20px;
				width:65vw;
				background-color:#eeeeee;
				display:flex;
				align-items:center;
				justify-content:space-between;
				padding-right:10px;
				.text-input{
					background-color:#eeeeee;
					border:none;
					padding:10px;
					border-radius:20px;
					outline:none;
					width:85%;
					// margin-right:10px;
				}
				.mic-none-icon,.recording-white-mic-none-icon,.recording-grey-mic-none-icon{
					cursor:pointer;
				}
				.recording-white-mic-none-icon{
					color:#ffffff;
				}
				.recording-grey-mic-none-icon{
					color:#5858a5;
				}
				.mic-none-icon:hover{
					color:#ffffff;
				}
				.recording-white-mic-none-icon:hover,.recording-grey-mic-none-icon:hover{
					color:#f1eeee;
				}
			}
			.photo-button-container{
				display:flex;
				align-items:center;
				.hidden-file-input{
					display:none;
				}
				.photo-library-icon{
					color:#ff5500;
					margin-right:6px;
					font-size:16px;
					display:flex;
					justify-content:center;
					align-items:center;
					cursor:pointer
				}
				.photo-library-icon:hover{
					color:#555555;
				}
				.submit-button{
					color:#ff0000;
					cursor:pointer;
				}
				.submit-button:hover{
					color:#eacaca;
				}
			}
		}
	}
}