<div class="body">
	<div class="golden-sentence">{{goldenSentence.content}}</div>
	<div class="body">
		<div class="header">
			<a class="arrow-left-icon" routerLink="/chat/{{id}}"><mat-icon aria-hidden="false" aria-label="Example arrow left icon">
			keyboard_arrow_left</mat-icon></a>
			<div class="room-name">{{user}}</div>
			<!-- <div></div> -->
		</div>
		<div class="chatroom-add-user-container">
			<div>
				<div class="chatroom-description-container">
					<div class="add-user-title-container"><span class="add-user-title">Add user</span></div>
					<div class="chat-input-container">
						<div>
							<div class="chat-username-input-container">
								<mat-icon aria-hidden="false" aria-label="Example search icon" class="search-icon">
								search</mat-icon>
								<input [(ngModel)]="searchKeyword" class="chat-username"
								(input)="searchNewUser(searchKeyword,choseUsernames,alreadyInGroupUsers)"/>
							</div>
							<div *ngFor="let user of usernames" class="searched-container">
								<div class="username" (click)="addUser(user.id,user.username,user.icon)">
									<img [src]="imageToShow[user.id]" class="user-icon"/>
									<div>{{user.username}}</div>
								</div>
							</div>
						</div>
					</div>
					<div class="choose-username">
						<div *ngFor="let user of choseUsernames">
							<div class="user">
								<img [src]="imageToShow[user.id]" class="new-user-icon"/>
								<div>{{user.username}}</div>
								<mat-icon aria-hidden="false" aria-label="Example close icon" class="close-icon"
								(click)="deleteUser(user.username)">close</mat-icon>
							</div>
						</div>
					</div>
				</div>
				<div class="add-user-button-container">
					<button class="add-button" (click)="addUserToChatroom(choseUsernames,id)">Add users</button>
				</div>
			</div>
		</div>
	</div>
</div>
<app-bottom-bar></app-bottom-bar>