.body{
	font-family:Arial,Helvetica,sans-serif;
	height:100vh;
	overflow-y:scroll;
	.golden-sentence{
		background-color:#adadad;
		padding:10px;
		margin-bottom:16px;
		text-align:center;
		color:#ffcc00;
	}
	.body{
		margin:0 10px;
		.header{
			text-align:center;
			padding-bottom:3px;
			border-bottom:solid 1px #000000;
		}
		.admin-content{
			height:60vh;
		}
		.content{
			height:65vh;
		}
		.admin-content,.content{
			overflow-y:scroll;
			.notice-container{
				margin-top:8px;
				font-size:12px;
				padding:9px 11px;
				background-color:#f1eeee;
				border-radius:2px;
				.reminder{
					padding-left:6px;
				}
				.notice{
					margin:5px 0;
					padding:3px 7px;
					background-color:#ffffff;
				}
			}
		}
		.button-container{
			display:flex;
			justify-content:center;
			text-align:center;
			font-size:14px;
			margin-bottom:10px;
			.change-password-button{
				margin-top:10px;
				padding:8px;
				background-color:#f1eded;
				color:#ff0000;
				border-radius:3px;
				cursor:pointer;
			}
			.change-password-button:hover{
				background-color:#ff0000;
				color:#ffffff;
				// border:solid 1px #eacaca;
			}
		}
		.username-input{
			display:flex;
			justify-content:center;
			height:80px;
			.change-password-input{
				width:242px;
				.password,.password-retype{
					width:242px;
					height:26px;
					background-color:#ffcc00;
					border-radius:5px;
					color:#555555;
					margin-bottom:10px;
					border:solid 1px #ff5500;
				}
				div{
					display:flex;
					justify-content:center;
					.confirm-password-button{
						padding:8px;
						background-color:#f1eded;
						color:#ff5500;
						border-radius:3px;
						cursor:pointer;
					}
					.confirm-password-button:hover{
						background-color:#008000;
					}
				}
			}
			.default-password-input{
				width:242px;
				.password{
					width:242px;
					height:26px;
					background-color:#8ccfbe;
					border-radius:5px;
					color:#555555;
					margin-bottom:10px;
					border:solid 1px #ff5500;
				}
				.confirm-button-container{
					display:flex;
					justify-content:center;
					.confirm-default-password-button{
						padding:8px;
						background-color:#f1eded;
						color:#ff5500;
						border-radius:3px;
						cursor:pointer;
					}
				}
				.confirm-input-container{
					.confirm-header{
						font-size:14px;
						color:#adadad;
						width:140%;
						margin:3px 0 3px -40px;
					}
					.send-confirm-container{
						display:flex;
						padding:0 10px;
						justify-content:space-between;
						align-items:center;
						.confirm-text{
							width:140px;
							height:26px;
							background-color:#ffcc00;
							border-radius:5px;
							color:#555555;
							// margin-bottom:10px;
							border:solid 1px #ff5500;
						}
						.send-button{
							background-color:#20df7f;
							border:solid 1px #bbbbbb;
							border-radius:4px;
							box-shadow:none;
							// width:50px;
							height:30px;
							color:#ffffff;
							cursor:pointer;
						}
					}
				}
			}
		}
	}
}