<div class="body">
	<div class="golden-sentence">{{goldenSentence.content}}</div>
	<div class="body">
		<div *ngIf="isAdmin" class="header">Notice</div>
		<div *ngIf="!isAdmin" class="header">Settings</div>
		<div [ngClass]="isAdmin ? 'admin-content' : 'content'">
			<div class="notice-container">
				<!-- {{questions[0] ? questions[0].question : ""}} -->
				<div class="question-bank-detail" *ngFor="let notice of notices">
					<div *ngIf="!isAdmin" class="reminder">Reminder from admin</div>
					<div *ngIf="isAdmin" class="reminder">Reminder set by me</div>
					<div class="notice">{{notice}}</div>
				</div>
			</div>
		</div>
		<div class="button-container">
			<div>
				<div class="change-password-button" (click)="showPasswordInput()">Change password</div>
				<div *ngIf="isAdmin" class="change-password-button" (click)="showResetPasswordInput()">
				Reset default password</div>
			</div>
		</div>
		<div class="username-input">
			<div *ngIf="passwordInput" class="change-password-input">
				<input [(ngModel)]="password" class="password" placeholder="password" type=password/>
				<input [(ngModel)]="passwordAgain" class="password-retype" placeholder="confirm password" type="password"/>
				<div>
					<div class="confirm-password-button" (click)="changePassword(password,passwordAgain)">Confirm</div>
				</div>
			</div>
			<div class="default-password-input" *ngIf="resetPasswordInput && isAdmin">
				<input *ngIf="!confirmAgain" [(ngModel)]="defaultPassword" class="password" placeholder="default password"
				type=password/>
				<div *ngIf="!confirmAgain" class="confirm-button-container">
					<div class="confirm-default-password-button" (click)="typeConfirmAgain()">Confirm</div>
				</div>
				<div *ngIf="confirmAgain" class="confirm-input-container">
					<div class="confirm-header">Type "Confirm" to confirm to change default password</div>
					<div class="send-confirm-container">
						<input [(ngModel)]="confirmText" class="confirm-text"/>
						<button class="send-button" (click)="changeDefaultPassword(confirmText,defaultPassword)">
						send</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-bottom-bar></app-bottom-bar>