<div class="body">
	<div class="golden-sentence">{{goldenSentence.content}}</div>
	<div class="body">
		<div class="header">
			<div>{{user}}</div>
			<div>{{date}}</div>
		</div>
		<div class="question-container">
			<!-- {{questions[0] ? questions[0].question : ""}} -->
			<div class="question-bank-detail" *ngFor="let question of questions">
				<div class="question">
					<div>
						<div class="question-number">question #{{question.id - questions[0].id + 1}}</div>
						<div>{{question.content}}</div>
					</div>
					<div class="answer-time">
						<div>Take time</div>
						<div class="minute-container">
							<input class="minute" [(ngModel)]="usedTime[question.id - questions[0].id]['time']"/>
							<div>mins</div>
						</div>
					</div>
				</div>
			</div>
			<div class="question-detail">
				<textarea rows="4" placeholder="type in your daily feeling and it will show to others" class="input-area"
				[(ngModel)]="answer"></textarea>
			</div>
		</div>
		<div class="submit-button-container">
			<div class="submit-button" (click)="submitAnswer(usedTime,answer)">Submit your record</div>
		</div>
		<div class="button-container">
			<div class="logout-button" (click)="logout()">Logout</div>
		</div>
	</div>
</div>
<app-bottom-bar></app-bottom-bar>