.body{
	font-family:Arial,Helvetica,sans-serif;
	height:100vh;
	overflow-y:scroll;
	.golden-sentence{
		background-color:#adadad;
		padding:10px;
		margin-bottom:16px;
		text-align:center;
		color:#ffcc00;
	}
	.body{
		margin:0 10px;
		height:85vh;
		overflow-y:scroll;
		.header{
			display:flex;
			justify-content:space-between;
			// text-decoration:underline;
			padding-bottom:3px;
			border-bottom:solid 1px #000000;
			position:sticky;
			top:0;
			background-color:#ffffff;
		}
		.question-container{
			margin-top:8px;
			font-size:12px;
			padding-top:3px;
			padding-left:9px;
			padding-right:9px;
			padding-bottom:11px;
			background-color:#f1eeee;
			border-radius:2px;
			.question-bank-detail{
				padding-top:8px;
				.question{
					display:flex;
					justify-content:space-between;
					background-color:#f4dede;
					padding:6px 10px;
					div{
						.question-number{
							margin-bottom:5px;
						}
					}
					.answer-time{
						text-align:end;
						.minute-container{
							display:flex;
							align-items:center;
							margin-top:3px;
							.minute{
								padding:3px 6px;
								background-color:#ffffff;
								margin-right:8px;
								border-radius:3px;
								height:24px;
								width:30px;
								font-size:10px;
								border:none;
							}
						}
					}
				}
			}
			.question-detail{
				// height:30px;
				background-color:#ffffff;
				.input-area{
					font-family:Arial, Helvetica, sans-serif;
					border:none;
					width:100%;
					padding:0;
					font-size:13px;
				}
			}
		}
		.submit-button-container{
			text-align:center;
			.submit-button{
				margin-top:10px;
				padding:8px;
				background-color:#f1eded;
				color:#444444;
				border-radius:3px;
				border:solid 1px #adadad;
				cursor:pointer;
			}
			.submit-button:hover{
				background-color:#adadad;
			}
		}
		.button-container{
			display:flex;
			justify-content:center;
			.logout-button{
				margin-top:10px;
				padding:8px;
				background-color:#f1eded;
				color:#ff0000;
				border-radius:3px;
				cursor:pointer;
			}
			.logout-button:hover{
				background-color:#ff0000;
				color:#ffffff;
				// border:solid 1px #eacaca;
			}
		}
	}
}