/* You can add global styles to this file, and also import other style files */
body{
    margin:0;
	height:100%;
	font-family:Arial,Helvetica,sans-serif;
}
html{
    height:100%;
	font-family:Arial,Helvetica,sans-serif;
}