.main{
	display:flex;
	justify-content:center;
	align-items:center;
	.main-container{
		display:block;
		.image-container{
			height:42vh;
			display:flex;
			align-items:center;
			justify-content:center;
			color:#a0f0a0;
			margin-bottom:30px;
			div{
				text-align:center;
				.admin-login-header{
					font-size:18px;
					margin-bottom:10px;
					font-weight:600;
				}
				.bible{
					// height:300px;
					width:250px;
				}
			}
		}
		.username-input{
			width:242px;
			div{
				.username,.password{
					width:242px;
					height:26px;
					background-color:#ffcc00;
					border-radius:5px;
					color:#555555;
					margin-bottom:10px;
					border:solid 1px #ff5500;
				}
			}
		}
		.admin-button-container{
			display:flex;
			justify-content:center;
			.admin-login-button{
				background-color:#20df7f;
				border:solid 1px #bbbbbb;
				border-radius:4px;
				box-shadow:none;
				width:50px;
				height:30px;
				color:#ffffff;
				cursor:pointer;
			}
		}
		.button-container{
			display:flex;
			justify-content:center;
			.login-button{
				background-color:#ff0000;
				border:solid 1px #bbbbbb;
				border-radius:4px;
				box-shadow:none;
				padding:1px 6px;
				height:30px;
				color:#eeeeee;
				margin-top:5vh;
				cursor:pointer;
			}
		}
	}
}