<div class="main">
	<div class="main-container">
		<div class="image-container">
			<div>
				<div class="admin-login-header">Admin Login</div>
				<img src="assets/images/bible.png" class="bible"/>
			</div>
		</div>
		<div class="username-input">
			<div>
				<input #username class="username" placeholder="phone number"/>
				<input #password class="password" placeholder="password" type="password"/>
			</div>
		</div>
		<div class="admin-button-container">
			<button (click)="adminLogin(username.value,password.value)" class="admin-login-button">Login</button>
		</div>
		<div class="button-container">
			<a routerLink="/"><button class="login-button">User login</button></a>
		</div>
	</div>
</div>