<div class="body">
	<div class="main">
		<div class="sign-up-container">
			<div>
				<div class="sign-up-phone-photo-container">
					<div>
						<div>Profile picture</div>
						<img class="user-icon-image" *ngIf="imageSource" src="{{imageSource}}"/>
						<div *ngIf="!imageSource" class="user-icon-container">
							<div class="user-icon"></div>
						</div>
						<input #userImageFile type="file" class="hidden-user-icon-input"
						(change)="readURL($event)"/>
						<div class="user-icon-input-container">
							<div class="user-icon-input" (click)="userImageFile.click()">Upload</div>
						</div>
						<div class="information-input-container">
							<input #phoneNumber class="phone" placeholder="phone"/>
							<input #username class="username" placeholder="display name"/>
						</div>
					</div>
				</div>
				<div class="sign-up-button-container">
					<button class="sign-up-button" (click)="signUp(newImageIcon,phoneNumber.value,username.value)">
					Create new account</button>
				</div>
				<div class="back-button-container">
					<a routerLink="/chat"><button class="back-button">Back</button></a>
				</div>
			</div>
		</div>
	</div>
</div>