.body{
	font-family:Arial,Helvetica,sans-serif;
	.main{
		margin:0 10px;
		.sign-up-container{
			margin-top:8px;
			display:flex;
			justify-content:center;
			div{
				text-align:center;
				.sign-up-phone-photo-container{
					height:60vh;
					display:flex;
					align-items:center;
					div{
						.user-icon-image{
							height:160px;
							width:160px;
							border-radius:320px;
							background-color:#f1eeee;
							margin:10px 0;
							object-fit:cover;
						}
						.user-icon-container{
							display:flex;
							justify-content:center;
							.user-icon{
								height:160px;
								width:160px;
								border-radius:320px;
								background-color:#f1eeee;
								margin:10px 0 14px 0;
								object-fit:cover;
							}
						}
						.hidden-user-icon-input{
							display:none;
						}
						.user-icon-input-container{
							display:flex;
							justify-content:center;
							margin-bottom:30px;
							.user-icon-input{
								font-size:12px;
								background-color:#555555;
								color:#eeeeee;
								width:50px;
								padding:4px 0;
								border-radius:2px;
								cursor:pointer;
							}
						}
						.information-input-container{
							width:200px;
							.phone,.username{
								font-size:16px;
								background-color:#f1eeee;
								width:180px;
								padding:3px;
								border:none;
								border-radius:3px;
								padding:10px;
								margin:8px 0 3px 0;
							}
						}
					}
				}
				.sign-up-button-container{
					display:flex;
					justify-content:center;
					.sign-up-button{
						background-color:#ff5500;
						border:solid 1px #bbbbbb;
						color:#ffffff;
						border-radius:4px;
						box-shadow:none;
						padding:1px 6px;
						height:30px;
						// color:#ffffff;
						margin-top:5px;
						cursor:pointer;
					}
					.sign-up-button:hover{
						background-color:#ffcc00;
					}
				}
				.back-button-container{
					display:flex;
					justify-content:center;
					margin-top:10px;
					.back-button{
						background-color:#20df7f;
						border:solid 1px #bbbbbb;
						border-radius:4px;
						box-shadow:none;
						// width:50px;
						height:30px;
						color:#ffffff;
						cursor:pointer;
					}
				}
			}
		}
	}
}